{% extends "container.html" %}
{% block title %}Current Balance{% endblock %}

{% block content %}
<section id="balance" class="row">
        <div class="row">
            <h4 class="col">Current balance</h4>
        </div>
        <div class="row">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header
                    {% if balance['total'] > 700 %}
                    purple darken-3
                    {% elif balance['total'] > 1000 %}
                    red darken-1
                    {% elif balance['total'] == 1000 %}
                    grey lighten-2
                    {% else %}
                    lime lighten-2
                    {% endif %}
                "><strong>Total Remaining:</strong> {{1000-balance['total']}} / 1000€</div>
            </li>
        {% for top in budget %}
            <li>
                <div class="collapsible-header"><strong>{{top|title}}:</strong> <span class="
                {% with ratio = balance[top]['total'] / budget[top].values()|sum %}
                    {% if ratio < 0.3 %}
                    purple-text text-darken-3
                    {% elif ratio < 0 %}
                    red-text text-darken-1
                    {% elif ratio == 0 %}
                    grey-text text-lighten-2
                    {% else %}
                    lime-text text-lighten-2
                    {% endif %}
                {% endwith %}">{{balance[top]['total']}} / {{budget[top].values()|sum}}€</span></div>
                <div class="collapsible-body">
                    {% for bottom in budget[top] %}
                    <p
                            {% if balance[top][bottom] < 0 %}
                            class="red darken-1"
                            {% elif balance[top][bottom]/budget[top][bottom] < 0.3 %}
                            class="purple darken-3"
                            {% elif balance[top][bottom] == 0.0 %}
                            class="grey lighten-2"
                            {% else %}
                            class="lime lighten-2"
                            {% endif %}
                    ><strong>{{bottom|title}}:</strong> {{balance[top][bottom]}}€ / {{budget[top][bottom]}}€</p>
                    {% endfor %}
                </div>
            </li>
        {% endfor %}
        </div>
    </section>
{% endblock %}