<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Matúšov Budget | {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% endblock %}
</head>
<body>
    {% block nav %}
    <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Pydget</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('new_entry') }}">New Entry</a></li>
            <li><a href="{{ url_for('index') }}">Current Balance</a></li>
            <li><a href="{{ url_for('entries') }}">List of Entries</a></li>
          </ul>
          <ul id="mobile-demo" class="side-nav">
            <li><a href="{{ url_for('new_entry') }}">New Entry</a></li>
            <li><a href="{{ url_for('index') }}">Current Balance</a></li>
            <li><a href="{{ url_for('entries') }}">List of Entries</a></li>
          </ul>
        </div>
      </nav>
    {% endblock %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes row">
        {% for message in messages %}
          <li class="card-panel teal lighten-2"><strong>{{ message }}</strong></li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>