{% extends "container.html" %}
{% block title %}All Entries{% endblock %}

{% block content %}
<section id="entries" class="row">
        <div class="row">
            <h4 class="col">List of entries</h4>
        </div>
        <div class="row">
            <ul>
                <li class="row teal lighten-2">
                    <div class="col s1">Month</div>
                    <div class="col s1">Day</div>
                    <div class="col s1">Category</div>
                    <div class="col s1">Item</div>
                    <div class="col s1">Price</div>
                    <div class="col s2">Notes</div>
                    <div class="col s2">Delete?</div>
                </li>
            {% for entry in entries %}
            <li class="row">
                <div class="col s1"><a href="{{url_for('entries', month=entry[1])}}">{{entry[1]}}</a></div>
                <div class="col s1">{{entry[2]}}</div>
                <div class="col s1">{{entry[4]}}</div>
                <div class="col s1">{{entry[5]}}</div>
                <div class="col s1">{{entry[3]}}€</div>
                <div class="col s2">{{entry[6]}}</div>
                <div class="col s2"><a href="{{url_for('delete', entry=entry[0])}}" class="red-text text-darken-1">Delete this entry</a></div>
            </li>
            {% endfor %}
            </ul>
        </div>
        <duv class="row">
            <h5 class="col">All months in the database:</h5>
        </duv>
        <div class="row">
            {% for month in months %}
            <div class="col s1"><a href="{{url_for('entries', month=month[0])}}">{{month[0]}}</a></div>
            {% endfor %}
        </div>
    </section>
{% endblock %}