<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Matúšov Budget</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Pydget</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#new_entry">New Entry</a></li>
            <li><a href="#balance">Current Balance</a></li>
            <li><a href="#entries">List of Entries</a></li>
          </ul>
          <ul id="mobile-demo" class="side-nav">
            <li><a href="#new_entry">New Entry</a></li>
            <li><a href="#balance">Current Balance</a></li>
            <li><a href="#entries">List of Entries</a></li>
          </ul>
        </div>
      </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <section id="new_entry" class="row">
        <div class="col">
            <h4>Add a new expenditure entry</h4>
        </div>
        <form id="submit_entry" action="/add" method="post" class="col s12">
            <p class="row">
                <label>Date of entry:</label>
                <input type="date" name="date">
            </p>
            <p class="row">
                <label>Amount spent:</label>
                <input type="number" name="price">
            </p>
            <p class="row">
                    <label>Category:</label>
                    <select class="browser-default" name="category" onchange="showItems()" id="category">
                    {% for top in budget %}
                    <option value="{{top}}">{{top|title}}</option>
                    {% endfor %}
                    </select>
            </p>
            <p class="row">
                <label>Item:</label>
                {% for top in budget %}
                <select name="item-{{top}}" id="item-{{top}}" class="browser-default item"
                    {% if loop.index > 1 %}
                    disabled
                    {% endif %}
                    >
                    {% for bottom in budget[top] %}
                    <option value="{{bottom}}">{{bottom|title}}</option>
                    {% endfor %}
                </select>
                {% endfor %}
            </p>
            </div>
            <p class="row">
                <label>Notes:</label>
                <input type="text" name="note">
            </p>
            <p class="row">
                <input type="submit" value="Save entry" class="waves-effect waves-light btn">
            </p>
        </form>
    </section>

    <section id="balance" class="row">
        <div class="row">
            <h4 class="col">Current balance</h4>
        </div>
        <div class="row">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header
                    {% if balance['total'] > 700 %}
                    purple darken-3
                    {% elif balance['total'] > 1000 %}
                    red darken-1
                    {% elif balance['total'] == 1000 %}
                    grey lighten-2
                    {% else %}
                    lime lighten-2
                    {% endif %}
                "><strong>Total Remaining:</strong> {{1000-balance['total']}} / 1000€</div>
            </li>
        {% for top in budget %}
            <li>
                <div class="collapsible-header"><strong>{{top|title}}:</strong> <span class="
                {% with ratio = balance[top]['total'] / budget[top].values()|sum %}
                    {% if ratio < 0.3 %}
                    purple-text text-darken-3
                    {% elif ratio < 0 %}
                    red-text text-darken-1
                    {% elif ratio == 0 %}
                    grey-text text-lighten-2
                    {% else %}
                    lime-text text-lighten-2
                    {% endif %}
                {% endwith %}">{{balance[top]['total']}} / {{budget[top].values()|sum}}€</span></div>
                <div class="collapsible-body">
                    {% for bottom in budget[top] %}
                    <p
                            {% if balance[top][bottom] < 0 %}
                            class="red darken-1"
                            {% elif balance[top][bottom]/budget[top][bottom] < 0.3 %}
                            class="purple darken-3"
                            {% elif balance[top][bottom] == 0.0 %}
                            class="grey lighten-2"
                            {% else %}
                            class="lime lighten-2"
                            {% endif %}
                    ><strong>{{bottom|title}}:</strong> {{balance[top][bottom]}}€ / {{budget[top][bottom]}}€</p>
                    {% endfor %}
                </div>
            </li>
        {% endfor %}
        </div>
    </section>

    <section id="entries" class="row">
        <div class="col">
            <h4>List of entries</h4>
        </div>
        {{ entries }}
    </section>
</body>
</html>